#background {
    background-image: url(../../assets/images/NFT\ Highlight.png);
    background-repeat: repeat-y;
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 660px;
}